
@{
    ViewBag.Title = "Index";
}

<div>
    <button class="btn btn-default navbar-btn" onclick="return singOut();">Sign out</button>
</div>

<ul id="list-conversations" class="list-group">
</ul>

<div id="list-messages" class="list-group">
</div>

<div>
    <form>
        <input id="input-say" class="form-control" type="text"/>
        <button class="btn btn-default navbar-btn" onclick="return say();">Say</button>
    </form>
</div>

<script id="template-conversation" type="text/template">
    <li class="list-group-item" href="#">
        <span class="badge">{{NewMessages}}</span>
        <div onclick='loadConversationMessages("{{Identifier}}")'><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{Profiles.0.Nickname}}</div>
    </li>
</script>

<script id="template-message" type="text/template">
    <li class="list-group-item">
        {{Profile.Nickname}}: {{Content}}
    </li>
</script>

@Scripts.Render("~/Scripts/Service/securedClient.js")
@Scripts.Render("~/Scripts/View/chatView.js")