<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="securedBehavior" name="SimpleChat.Service.Secured">
        <endpoint address="" behaviorConfiguration="restfulBehaviors"
          binding="webHttpBinding" contract="SimpleChat.Service.ISecured" />
      </service>
      <service behaviorConfiguration="publicBehavior" name="SimpleChat.Service.Public">
        <endpoint address="" behaviorConfiguration="restfulBehaviors"
          binding="webHttpBinding" contract="SimpleChat.Service.IPublic" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="authenticationHandler" type="SimpleChat.Service.Handlers.AuthenticationHandlerBehaviorExtension, SimpleChat.Service"/>
        <add name="exceptionHandler" type="SimpleChat.Service.Handlers.ExceptionHandlerBehaviorExtension, SimpleChat.Service" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehaviors">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="securedBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <authenticationHandler/>
          <exceptionHandler/>
        </behavior>
        <behavior name="publicBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <exceptionHandler/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <connectionStrings>
    <add name="chatSql" connectionString="Server=sql.anticevic.net;Database=Chat;User Id=chatuser;Password=123456;"/>
  </connectionStrings>
</configuration>
