
@{
    ViewBag.Title = "Login";
}

<form>
    <input class="form-control" type="text" placeholder="Nickname" />
    <input class="form-control" type="password" placeholder="Password" />
    <button class="btn btn-default navbar-btn">Login</button>
</form>